@(accountings: List[models.Accounting])
@import play.i18n._

@scripts = {
    <script src="@routes.Assets.at("javascripts/table-fixed-header.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/table-selectable.js")" type="text/javascript"></script>
}

@main("Home", null, scripts) {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container container-main">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li class="active"><a href="#">@Messages.get("menu.accountings")</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#">@Messages.get("menu.fixedAssets")</a></li>
                        <li class="divider-vertical"></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="welcome"><i class="icon-user"></i>&nbsp;@Messages.get("menu.welcome", Secured.getConnectedUser.username)</li>
                        <li class="divider-vertical"></li>
                        <li><a href="#"><i class="icon-cog"></i>&nbsp;@Messages.get("menu.settings")</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="#"><i class="icon-hdd"></i>&nbsp;@Messages.get("menu.backups")</a></li>
                        <li class="divider-vertical"></li>
                        <li><a href="@routes.ApplicationController.logout()"><i class="icon-off"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="container container-sub">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a class="on-select-multiple disabled" href="#"><i class="icon-trash"></i>&nbsp;@Messages.get("action.delete")</a></li>
                        <li><a class="on-select-multiple disabled" href="#"><i class="icon-lock"></i>&nbsp;@Messages.get("action.lock")</a></li>
                        <li><a href="#"><i class="icon-asterisk"></i>&nbsp;@Messages.get("action.new")</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped table-hover table-selectable table-fixed-header">
        <thead class="blue">
            <tr>
                <th class="check-column">&nbsp;</th>
                <th>Année</th>
            </tr>
        </thead>
        <tbody>
            @for(accounting <- accountings){
                <tr class="selectable">
                    <td><input name="accountingIds[]" type="checkbox" value="@accounting.id"></td>
                    <td><a href="@routes.AccountingRowController.january(accounting.year)">@{accounting.year}</a></td>
                </tr>
            }
        </tbody>
    </table>

}
