@page{
    margin:10mm;
}
@page land{
    size:landscape;
}
@page port{
    size:portrait;
}
.page-landscape{
    page:land;
}
.page-portrait {
    page:port;
}
.page-break{
    page-break-after: always;
    background:red;
    height:0;
    font-size:0;
}
@page{
    @bottom-center{
        content: element(footer);
    }
    @top-center{
        content: element(header);
    }
}
/*@page:first{
@bottom-center {
                    content: none;
                }
@top-center {
                    content: none;
                }
    }*/
.page-header{
    font-size:8pt;
    text-align:center;
    position: running(header);
}
.page-footer{
    font-size:8pt;
    text-align:right;
    position: running(footer);
}
.page-current:before { content: counter(page); }
.page-count:after { content: counter(pages); }

body {
  margin: 0;
  padding:0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

table{
    width:277mm;
    border-collapse:collapse;
    -fs-table-paginate: paginate;
    page-break-inside: avoid;
}

table th,
table td{
    border:1px solid #dddddd;
}
table th{
    vertical-align:bottom;
}
table td{
    padding:1mm;
    font-size: 8pt;
}
table thead th{
    text-align: center;
    font-size: 7pt;
    padding:1pt;
}

table.recipe thead th{
    background-color: #dff0d8;
    color:#468847;
    border-color:#A7D1A7;
}

table.expense thead th{
    background-color: #f2dede;
    color:#b94a48;
    border-color:#DCA5A5;
}


table thead th.day-column{
    width: 5mm;
}
table thead th.label-column{
    width: 70mm;
}
table thead th.month-column{
    width: 50mm;
}
table thead th.category-column,
table thead th.treasury-column{
    width: 20mm;
}


table tr.important td{
    font-weight:bold;
    background-color: #d9edf7;
    color:#3a87ad;
    border-color:#bce8f1;
}

table tr.reports td{
    background-color:#fcf8e3;
    color:#c09853;
}

table tr td.numeric{
    text-align: right;
    white-space:nowrap;
}