body{
    padding:80px 0 40px 0;
}

.navbar-fixed-top .container{
    width:auto;
    padding: 0 10px 0 20px;
}
.navbar-fixed-bottom .container{
    width:auto;
    padding: 0 20px;
}

.navbar-fixed-bottom .container .nav{
    float:none;
    margin:auto;
    width:820px;
}

.navbar-fixed-top .container-sub .nav-pills li.active a{
    color:#fff;
    background-color: #08c;
    text-shadow: none;

}
.navbar-fixed-top .container-sub{
    background-color: #f0f0f0;
}
.navbar-fixed-top .nav > .active > a,
.navbar-fixed-top .nav > .active > a:hover{
    background-color: #f0f0f0;
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;

}
.navbar-fixed-top .nav-pills > li > a{
    padding:7px 15px;
    margin:6px 0;
}
.navbar-fixed-top .nav-pills > li.active > a{
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
}
.navbar-fixed-top .nav > .active > a:hover{
    box-shadow: none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
}

.navbar-fixed-top .container-main .nav > li > a{
    padding:5px 15px 10px 15px;
    margin:5px 0 0 0;
}

.welcome{
    padding:10px 15px;
}

table.table-bordered{
    border: none;
    border-bottom:1px solid #ddd;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

table.accounting thead th{
    text-align: center;
    font-size: 12px;
    padding:2px 4px;
}
table thead.green th,
table.accounting.recipe thead th{
    background-color: #dff0d8;
    color:#468847;
    border-color:#A7D1A7;
}
table thead.red th,
table.accounting.expense thead th{
    background-color: #f2dede;
    color:#b94a48;
    border-color:#DCA5A5;
}
table thead.blue th{
    background-color: #d9edf7;
    color:#3a87ad;
    border-color:#bce8f1;
}
table thead th.check-column{
    width: 20px;
}
table.accounting thead th.day-column{
    min-width: 30px;
}
table.accounting thead th.label-column{
    min-width: 300px;
}
table.accounting thead th.month-column{
    min-width: 200px;
}
table.accounting thead th.category-column,
table.accounting thead th.treasury-column{
    min-width: 100px;
}


table tr.important td{
    font-weight:bold;
    background-color: #d9edf7;
    color:#3a87ad;
    border-color:#bce8f1 !important;
}

table tr.reports td{
    background-color:#fcf8e3 !important;
    color:#c09853 !important;
}

table tr td.numeric{
    text-align: right;
    white-space:nowrap;
}
table tr.selected td{
    background-color:#0088cc !important;
    color:#FFF !important;
}
table tr.selected td a{
    color:#FFF;
}
.capitalize:first-letter{
    text-transform: uppercase;
}

.modal.large{
    width: 700px;
    margin-left: -350px;
}
.modal.large .modal-body{
    max-height:600px;
}
a.outline-none:focus {
    outline: none;
}
.slider-selection {
    background: #d9edf7 !important;
}
.slider-handle {
    width:10px !important;
    margin-left: -5px !important;
}
.slider-handle.disabled {
    background: none !important;
    background-color: #999 !important;
}
#personalWithdrawalField{
    display: inline-block;
    width:220px;
}
#personalWithdrawalField input#amountPercentage{
    width:155px;
}
#personalWithdrawalField #amountPercentageLabel{
    margin-left:5px;
}

.nav li a.disabled{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  cursor:default;
}

.nav li a.disabled:hover{
    color:#777;
}

#accountingRow-modal #accountingRow-form input[type=text]:focus,
#accountingRow-modal #accountingRow-form select:focus{
    background:#d9edf7;
}