@(year: Int, toolbar: Html = Html(""), footer: Html = Html(""), styles: Html = Html(""), scripts: Html = Html(""))(content: Html)
@import utils.DateUtils
@import play.i18n._



@main(year.toString, styles, scripts) {

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container container-main">
                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li><a href="@routes.ApplicationController.index()"><i class="icon-home"></i></a></li>
                    </ul>
                    <span class="brand">@year </span>
                    <ul class="nav">
                        <li @if(request.uri.startsWith(routes.AccountingController.january(year).url) || request.uri.startsWith(routes.AccountingController.recipeSummary(year).url)){class="active"}><a href="@routes.AccountingController.january(year)">Journal Recettes/Dépenses</a></li>
                        <li @if(request.uri == routes.ExportController.export(year).url){class="active"}><a href="@routes.ExportController.export(year)">@Messages.get("action.export")</a></li>
                    </ul>
                </div>
            </div>
            <div class="container container-sub">
                <div class="nav-collapse collapse">
                    @toolbar
                </div>
            </div>
        </div>
    </div>
    @content
    @footer
}
