@(rowType: String, year: Int, month: Int, accountingRows: List[AccountingRow], parentCategories: ParentCategoryList, treasuries: List[Treasury])
@import utils.DateUtils
@import utils.CurrencyUtils
@import play.i18n._
@import helper._
@views.html.AccountingController.accounting(rowType, year, month) {
    <form method="POST" action="@routes.AccountingController.delete(rowType, year, month)" id="accountingRows-form">
        <table class="table table-bordered table-striped table-hover accounting @rowType">
            <thead>
                <tr>
                    <th rowspan="2" class="check-column">&nbsp;</th>
                    <th rowspan="2" class="day-column">@Messages.get("accountingRow.day")</th>
                    <th rowspan="2" class="label-column">@Messages.get("accountingRow.label")</th>
                    <th colspan="@{treasuries.size}" class="rowTreasury">@Messages.get("accountingRow.treasury")</th>
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <th rowspan="2" class="category-column">@Messages.get("accountingRow.personalWithdrawals")</th>
                    }
                    @for(parentCategory:Category <- parentCategories) {
                        @if(parentCategory.hasChildren){
                            <th colspan="@parentCategory.children.size()" class="rowCategory">@{parentCategory.name}</th>
                        }else{
                            <th rowspan="2" class="category-column">@{parentCategory.name}</th>
                        }
                    }
                </tr>
                <tr>
                    @for(treasury <- treasuries) {
                        <th class="treasury-column">@{treasury.name}</th>
                    }
                    @for(childrenCategory:Category <- parentCategories.getChildren()) {
                        <th class="category-column">@{childrenCategory.name}</th>
                    }
                </tr>
            </thead>
            <tfoot>
                <tr class="important">
                    <td colspan="3">@Messages.get("accounting.monthSum")</td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@CurrencyUtils.format(treasury.monthSum(year, month))</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalMonthSum(year, month))</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@CurrencyUtils.format(leafCategory.monthSum(year, month))</td>
                    }
                </tr>
            @if(month > 1){
                <tr class="important">
                    <td colspan="3">@Messages.get("accounting.fromJanuarySum")</td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@CurrencyUtils.format(treasury.fromJanuarySum(year, month))</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalFromJanuarySum(year, month))</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@CurrencyUtils.format(leafCategory.fromJanuarySum(year, month))</td>
                    }
                </tr>
            }
            </tfoot>
            <tbody>
            @if(month > 1){
                <tr class="reports">
                    <td>&nbsp;</td>
                    <td>#</td>
                    <td>Report</td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@CurrencyUtils.format(treasury.fromJanuarySum(year, month-1))</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalFromJanuarySum(year, month-1))</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@CurrencyUtils.format(leafCategory.fromJanuarySum(year, month-1))</td>
                    }
                </tr>
            }
            @for(accountingRow <- accountingRows) {
                <tr class="accounting-row">
                    <td><input name="accountingRowIds[]" type="checkbox" value="@accountingRow.id"> </td>
                    <td>@if(accountingRow.date != null){@accountingRow.date.format("dd")}</td>
                    <td class="capitalize"><a class="edit-row-link" href="@routes.AccountingController.edit(accountingRow.id)" data-modal-title="@{DateUtils.month(month) + " " + year + " - " + Messages.get("action.accounting." + rowType + ".edit")}">@accountingRow.label</a></td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@if(accountingRow.treasury==treasury){@CurrencyUtils.format(accountingRow.getTotalAmount())}</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@if(accountingRow.personalWithdrawal.intValue() > 0){@CurrencyUtils.format(accountingRow.getPersonalWithdrawal())}</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@if(accountingRow.category==leafCategory){@CurrencyUtils.format(accountingRow.getAmount())}</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </form>
    @twitterBootstrap.modal("accountingRow-modal", DateUtils.month(month) + " " + year)
}
