@(rowType: String, year: Int, month: Int, accountingRows: List[AccountingRow], parentCategories: ParentCategoryList, treasuries: List[Treasury])
@import utils.DateUtils
@import utils.CurrencyUtils
@import play.i18n._
@import helper._

@toolbar = {
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle brand" data-toggle="dropdown">@DateUtils.month(month)&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @for(m <- 1 to 12) {
                    <li><a href="@routes.AccountingRowController.byMonth(rowType,year,m)">@{DateUtils.month(m)}</a></li>
                }
                <li><a href="@routes.AccountingRowController.summary(rowType,year)">@Messages.get("accounting.summary")</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li @if(rowType==ERowType.RECIPE.lower()){class="active"}><a id="recipe-button" href="@routes.AccountingRowController.byMonth(ERowType.RECIPE.lower(), year, month)">@Messages.get("rowType.recipe")</a></li>
        <li @if(rowType==ERowType.EXPENSE.lower()){class="active"}><a id="expense-button" href="@routes.AccountingRowController.byMonth(ERowType.EXPENSE.lower(), year, month)">@Messages.get("rowType.expense")</a></li>
    </ul>
    <ul class="nav">
        <li><a id="delete-row-button" class="on-select-multiple disabled" href="#"><i class="icon-trash"></i>&nbsp;@Messages.get("action.delete")</a></li>
        <li><a id="edit-row-button" class="on-select-single disabled" href="#"><i class="icon-edit"></i>&nbsp;@Messages.get("action.edit")</a></li>
        <li><a id="add-row-button" class="outline-none" href="@routes.AccountingRowController.add(rowType, year, month)"><i class="icon-plus"></i>&nbsp;@Messages.get("action.add")</a></li>
    </ul>
}

@footer = {
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    @for(m <- 1 to 12) {
                        <li @if(m == month){class="active"}><a href="@routes.AccountingRowController.byMonth(rowType,year,m)" class="capitalize">@{DateUtils.shortMonth(m)}</a></li>
                    }
                    <li><a href="@routes.AccountingRowController.summary(rowType,year)">@Messages.get("accounting.summary")</a></li>
                </ul>
            </div>
        </div>
    </div>
}

@styles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-slider.css")">
}

@scripts = {
    <script src="@routes.Assets.at("javascripts/bootstrap-slider.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/table-fixed-header.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/table-selectable.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/accounting.js")" type="text/javascript"></script>
    <script type="text/javascript">
        accounting.year = "@year";
        accounting.month = "@DateUtils.month(month)";
    </script>
}

@views.html.AccountingRowController.accounting(year, toolbar, footer, styles, scripts) {
    <form method="POST" action="@routes.AccountingRowController.delete(rowType, year, month)" id="accountingRows-form">
        <table class="table table-bordered table-striped table-hover table-fixed-header table-selectable accounting @rowType">
            <thead>
                <tr>
                    <th rowspan="2" class="check-column">&nbsp;</th>
                    <th rowspan="2" class="day-column">@Messages.get("accountingRow.day")</th>
                    <th rowspan="2" class="label-column">@Messages.get("accountingRow.label")</th>
                    <th colspan="@{treasuries.size}" class="rowTreasury">@Messages.get("accountingRow.treasury")</th>
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <th rowspan="2" class="category-column">@Messages.get("accountingRow.personalWithdrawals")</th>
                    }
                    @for(parentCategory:Category <- parentCategories) {
                        @if(parentCategory.hasChildren){
                            <th colspan="@parentCategory.children.size()" class="rowCategory">@{parentCategory.name}</th>
                        }else{
                            <th rowspan="2" class="category-column">@{parentCategory.name}</th>
                        }
                    }
                </tr>
                <tr>
                    @for(treasury <- treasuries) {
                        <th class="treasury-column">@{treasury.name}</th>
                    }
                    @for(childrenCategory:Category <- parentCategories.getChildren()) {
                        <th class="category-column">@{childrenCategory.name}</th>
                    }
                </tr>
            </thead>
            <tfoot>
                <tr class="important">
                    <td colspan="3">@Messages.get("accounting.monthSum")</td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@CurrencyUtils.format(treasury.monthSum(year, month))</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalMonthSum(year, month))</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@CurrencyUtils.format(leafCategory.monthSum(year, month))</td>
                    }
                </tr>
            @if(month > 1){
                <tr class="important">
                    <td colspan="3">@Messages.get("accounting.fromJanuarySum")</td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@CurrencyUtils.format(treasury.fromJanuarySum(year, month))</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalFromJanuarySum(year, month))</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@CurrencyUtils.format(leafCategory.fromJanuarySum(year, month))</td>
                    }
                </tr>
            }
            </tfoot>
            <tbody>
            @if(month > 1){
                <tr class="reports">
                    <td>&nbsp;</td>
                    <td>#</td>
                    <td>Report</td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@CurrencyUtils.format(treasury.fromJanuarySum(year, month-1))</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalFromJanuarySum(year, month-1))</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@CurrencyUtils.format(leafCategory.fromJanuarySum(year, month-1))</td>
                    }
                </tr>
            }
            @for(accountingRow <- accountingRows) {
                <tr class="selectable">
                    <td><input name="accountingRowIds[]" type="checkbox" value="@accountingRow.id"></td>
                    <td>@if(accountingRow.date != null){@accountingRow.date.format("dd")}</td>
                    <td class="capitalize"><a class="edit-row-link" href="@routes.AccountingRowController.edit(accountingRow.id)">@accountingRow.label</a></td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">@if(accountingRow.treasury==treasury){@CurrencyUtils.format(accountingRow.getTotalAmount())}</td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">@if(accountingRow.personalWithdrawal.intValue() > 0){@CurrencyUtils.format(accountingRow.getPersonalWithdrawal())}</td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">@if(accountingRow.category==leafCategory){@CurrencyUtils.format(accountingRow.getAmount())}</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </form>
    @twitterBootstrap.modal("accountingRow-modal", DateUtils.month(month) + " " + year)
}
