@(rowType: String, year: Int, parentCategories: ParentCategoryList, treasuries: List[Treasury])
@import utils.DateUtils
@import utils.CurrencyUtils
@import play.i18n._

@toolbar = {
    <ul class="nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle brand" data-toggle="dropdown">@Messages.get("accounting.summary")&nbsp;<b class="caret"></b></a>
            <ul class="dropdown-menu">
                @for(m <- 1 to 12) {
                    <li><a href="@routes.AccountingRowController.byMonth(rowType,year,m)">@{DateUtils.month(m)}</a></li>
                }
                <li><a href="@routes.AccountingRowController.summary(rowType,year)">@Messages.get("accounting.summary")</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li @if(rowType==ERowType.RECIPE.lower()){class="active"}><a id="recipe-button" href="@routes.AccountingRowController.summary(ERowType.RECIPE.lower(),year)">@Messages.get("rowType.recipe")</a></li>
        <li @if(rowType==ERowType.EXPENSE.lower()){class="active"}><a id="expense-button" href="@routes.AccountingRowController.summary(ERowType.EXPENSE.lower(),year)">@Messages.get("rowType.expense")</a></li>
    </ul>
    <ul class="nav">
        @if(rowType==ERowType.EXPENSE.lower()){
            <li><a href="#"><i class="icon-plus"></i>&nbsp;@Messages.get("action.scmShare")</a></li>
        }
    </ul>
}

@footer = {
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    @for(m <- 1 to 12) {
                        <li><a href="@routes.AccountingRowController.byMonth(rowType,year,m)" class="capitalize">@{DateUtils.shortMonth(m)}</a></li>
                    }
                    <li class="active"><a href="@routes.AccountingRowController.summary(rowType,year)">@Messages.get("accounting.summary")</a></li>
                </ul>
            </div>
        </div>
    </div>
}

@styles = {

}

@scripts = {
    <script src="@routes.Assets.at("javascripts/table-fixed-header.js")" type="text/javascript"></script>
}


@views.html.AccountingRowController.accounting(year, toolbar, footer, styles, scripts) {
    <table class="table table-bordered table-striped table-hover table-fixed-header accounting @rowType">
        <thead>
            <tr>
                <th rowspan="2" class="month-column">@Messages.get("accountingSummary.month")</th>
                <th colspan="@{treasuries.size}" class="rowTreasury">@Messages.get("accountingRow.treasury")</th>
                @if(ERowType.value(rowType) == ERowType.EXPENSE){
                    <th rowspan="2" class="category-column">@Messages.get("accountingRow.personalWithdrawals")</th>
                }
                @for(parentCategory:Category <- parentCategories) {
                    @if(parentCategory.hasChildren){
                        <th colspan="@parentCategory.children.size()" class="rowCategory">@{parentCategory.name}</th>
                    }else{
                        <th rowspan="2" class="category-column">@{parentCategory.name}</th>
                    }
                }
            </tr>
            <tr>
                @for(treasury <- treasuries) {
                    <th class="treasury-column">@{treasury.name}</th>
                }
                @for(childrenCategory:Category <- parentCategories.getChildren) {
                    <th class="category-column">@{childrenCategory.name}</th>
                }
            </tr>
        </thead>
        <tfoot>
            <tr class="important">
                <td>@Messages.get("accounting.fromJanuarySum")</td>
                @for(treasury <- treasuries) {
                    <td class="numeric">@CurrencyUtils.format(treasury.fromJanuarySum(year, 12))</td>
                }
                @if(ERowType.value(rowType) == ERowType.EXPENSE){
                    <td class="numeric">@CurrencyUtils.format(Accounting.personalWithdrawalFromJanuarySum(year, 12))</td>
                }
                @for(leafCategory:Category <- parentCategories.getLeafs()) {
                    <td class="numeric">@CurrencyUtils.format(leafCategory.fromJanuarySum(year, 12))</td>
                }
            </tr>
        </tfoot>
        <tbody>
            @for(month <- 1 to 12) {
                <tr class="accounting-row">
                    <td class="capitalize"><a href="@routes.AccountingRowController.byMonth(rowType, year, month)">@DateUtils.month(month)</a></td>
                    @for(treasury <- treasuries) {
                        <td class="numeric">
                            @defining(treasury.monthSum(year, month)) { monthSum =>
                                @if(monthSum.doubleValue() != 0){@CurrencyUtils.format(monthSum)}
                            }
                        </td>
                    }
                    @if(ERowType.value(rowType) == ERowType.EXPENSE){
                        <td class="numeric">
                            @defining(Accounting.personalWithdrawalMonthSum(year, month)) { monthSum =>
                                @if(monthSum.doubleValue() != 0){@CurrencyUtils.format(monthSum)}
                            }
                        </td>
                    }
                    @for(leafCategory:Category <- parentCategories.getLeafs()) {
                        <td class="numeric">
                            @defining(leafCategory.monthSum(year, month)) { monthSum =>
                                @if(monthSum.doubleValue() != 0){@CurrencyUtils.format(monthSum)}
                            }
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}